@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html {
  cursor: default;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}
body {
  cursor: default;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}
