@import url(colors.css);
@import url(https://fonts.googleapis.com/css?family=Asap:400,700);
@charset "utf-8";
html {
    cursor: default;
    font-family: 'Asap', sans-serif;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

body {
    cursor: default;
    font-family: 'Asap', sans-serif;
    font-size: 1.5em;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    color: #3a3a3a;
    background: #fefefe;
}

h1,
h2,
h3 {
    font-family: "Asap", "Helvetica", san-serif;
    font-weight: bolder;
}

p,
span,
i,
b,
strong,
blockquote {
    font-family: "Asap", "Helvetica", san-serif;
}

nav {
    color: #fefefe;
    font-weight: bold;
    font-family: "Asap", "Helvetica", san-serif;
}

.navbar-nav li a {
    color: #fefefe;
}

.navbar-nav li a:hover {
    color: #5FAD24
}

.content hr {
    color: #777777;
    border-top: 1px solid #777777;
    margin: 5% 0;
}

.btn {
    padding: 0.5em 2em;
    border-radius: 0;
    border-width: 2px;
    // border-color: #000000;
}

.padding {
    padding: 1em;
}

.padding-tb {
    padding: 1em .5em;
}

.site-header nav.navbar {
    padding-bottom: 0 !important;
    margin-bottom: 0;
}

.jumbotron {
    min-height: 350px;
    margin-bottom: 0;
    background: url(http://res.cloudinary.com/dpmk2cnpi/image/upload/c_fill,h_612,w_1600/v1463949031/039_www.cute-pictures.blogspot.com_hxe9lt.jpg);
    background-position: cover;
}

.jumbotron h1,
.jumbotron p {
    color: #000000;
}

.bg-black h1,
.bg-black h2,
.bg-black h3 {
    color: #5FAD24
}

.demo h2 {
    font-size: 1.5em;
}

p.lead,
section {
    font-size: 1.5em;
}

.red-bg {
    background: #DE1335;
}

.bg-green {
    background: #5FAD24;
}

.bg-black {
    color: #f7f7f7;
}

.pale-grey-bg {
    background: #EDEDED;
    color: #777777;
}

.highlight,
pre {
    background: #1D2328 !important;
    color: #fefefe;
    border: none;
    border-radius: 3px;
}

pre,
code,
code > span {
    font-size: 15px !important;
}

code .nv {
    padding: 0 .5em;
}

code .nb,
code .nv {
    color: #5FAD24;
}

code .nb {
    padding-right: .5em;
}

code .nv:not(:first-child) {
    padding: 0;
}

code .s1 {
    padding: 0 .5em;
}

section.config-vars-command code > span {
    text-align: left;
    float: left;
}

section.config-vars-command code span:nth-child(2) {
    float: initial !important;
}

section.config-vars-command code .nv,
section.config-vars-command code .s1 {
    padding: 0;
}

section.config-vars-command code .se {
    padding: 0 .5em;
}

section.config-vars-command figure pre {
    padding-left: 1.6em;
}

.documentation .highlighter-rouge {
    margin: 1em auto;
}

.highlighter-rouge,
.highlight,
code,
code span {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

code.highlighter-rouge {
    background-color: #1D2328;
    color: #5FAD24;
}

.documentation code .pi {
    padding: 0 .25em;
}

.documentation code .s1 {
    padding: 0;
}

.sidebar ul li {
    list-style-type: none;
    list-style: none;
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Asap', sans-serif;
}

.sidebar ul li a {
    color: #5FAD24;
    text-decoration: none;
    padding: 5%;
    display: block;
}

.sidebar ul li a:hover {
    background: #5FAD24;
    color: white;
    text-decoration: none;
}

.content,
.content-fluid {
    font-size: 1.5em !important;
    padding: 0 5% 5%;
}

.content h1,
.content h2,
.content h3,
.content h4,
footer {
    font-family: 'Asap', sans-serif;
    color: #5FAD24;
}

.demo h2 {
    color: #000000;
}
