@import url(colors.css);
@import url(https://fonts.googleapis.com/css?family=Asap);
@import url(https://fonts.googleapis.com/css?family=Telex);
@charset "utf-8";
html {
    cursor: default;
    font-family: 'Telex', sans-serif;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

body {
    cursor: default;
    font-family: 'Telex', sans-serif;
    font-size: 1.5em;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    color: #3a3a3a;
    background: #FEFEFE;
}

h1,
h2,
h3 {
    font-weight: bolder;
}

.btn {
    border-radius: 0;
    border-width: 2px;
    // border-color: #000000;
}

.site-header nav.navbar {
    padding-bottom: 0 !important;
    margin-bottom: 0;
}

.jumbotron {
    background: url(http://res.cloudinary.com/dpmk2cnpi/image/upload/c_fill,h_612,w_1600/v1463949031/039_www.cute-pictures.blogspot.com_hxe9lt.jpg);
    background-position: cover;
}

.jumbotron h1,
.jumbotron p {
    color: #000000;
}

.content {
    margin: 1em auto;
    font-size: 1.75em;
}

.red-bg {
    background: #DE1335;
}

.pale-grey-bg {
    background: #EDEDED;
    color: #777777;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
