extends layout

block content
  .homepage
    a(style="color: #5FAD24" href="https://kn9ts.github.io/project-mulla" target="_blank")
      h1= title
    p ...because Time is Money!
    footer
      p.text-center.text-muted.small-padding
        | © 2016, with <span class="red">love</span> by
        <a class="red" target="_blank" href="http://twitter.com/kn9ts">Eugene Mutai</a>
