<footer>
    <div class="col-xs-12 col-md-12 bg-green white">
        <h4 class="text-center">
		        <p class="small-padding">© 2016 | Made with&nbsp;<span class="fa fa-heart"></span>&nbsp;by&nbsp;<a href="http://twitter.com/kn9ts" style="color: #212121">Eugene Mutai.</a> All rights reserved.
		        </p>
    		</h4>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
