<footer>
    <div class="col-xs-12 col-md-12 white" style="background-color: #5FAD24">
        <h4 class="text-center">
        <p class="text-center small-padding">© 2016 - Future, Made with&nbsp;<span class="fa fa-heart"></span>&nbsp;by&nbsp;<a href="http://twitter.com/kn9ts" style="color: #2c3e50">Eugene Mutai</a>
        </p>
    </h4>
    </div>
</footer>
<!-- <footer class="col-xs-12 col-md-12 bg-silver">
    <h4 class="text-center small-padding text-muted">So much &nbsp;<span class="fa fa-heart"></span>&nbsp;from Nairobi.</h4>
</footer> -->
