<header class="site-header">
    <nav class="navbar bg-black">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-1" aria-expanded="false">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ site.baseurl }}" class="navbar-brand white">
					{{ site.project_name }}
				</a>
            </div>
            <div id="header-1" class="collapse navbar-collapse">
                {% assign docs = site.docs | sort:"navigation_weight" %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ docs.first.url | prepend: site.baseurl }}">Documentation</a></li>
                    <li><a href="{{ site.project_url }}">Github Repo</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
