---
layout: master
---

<style type="text/css">
html,
body {
    background: #000 !important;
}
</style>

<div class="row">
    <div class="col-xs-12" style="height: 150px; overflow-y: hidden">
        <div class="jumbotron">
        	<h1 class="text-center">Documentation</h1>
        </div>
    </div>
</div>

<div class="sidebar col-xs-12 col-md-3">
    <div class="affix-top">
        <h4 class="text-right">
            <ul>
            	{% assign docs = site.docs | sort:"navigation_weight" %}
                {% for page in docs %}
                <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <div class="addthis_sharing_toolbox text-right"></div>
        </h4>
    </div>
</div>

<div class="documentation col-xs-12 col-md-8 bg-black padding">
    <div class="content text-left">
        {{ content }}
    </div>
</div>
