---
layout: master
---

<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron bg-green">
            <div class="container">
                <h1>Project Mulla</h1>
                <p>The open-source REST interface layer for C2B MPESA G2 API</p>
                <p><a class="btn btn-danger btn-lg" href="#" role="button">Get Started</a></p>
            </div>
        </div>
    </div>
</div>

<div class="content col-xs-12 col-md-12 padding">
    <div class="container text-left">
        {{ content }}
    </div>
</div>
